.thf-fellowship-tab {
  form {
    width: 60%;
    margin: 20px auto;
    background-color: rgb(250, 248, 243);
    padding: 10px;
    label,
    .form-control {
      border-radius: 30px;
      background-color: #fff;
    }
    font-weight: 600;
  }
  .form-group {
    margin: 20px 0px;
  }
  .drop-down {
    position: relative;
  }
  .fa {
    position: absolute;
    color: #000;
    margin-left: 10px;
    transition: 0.3s;
    right: 25px;
    bottom: 9px;
  }
  .mandatory-red {
    color: red;
  }
}
