.livelihood-tab {
  .banner {
    background-image: url("../../assets/images/liveli-banner-1.jpg");
    background-size: cover;
    background-position: bottom;
    height: 440px;
    width: 100%;
  }
}
