.aboutus-tab,
.mission-tab {
  .feature-content-1,
  .feature-content-2 {
    margin-top: 30px;
    .contents {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding: 20px;
      height: 350px;
    }
    .img-container {
      flex: 1;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
      }
    }
    .text-container {
      flex: 1;
      margin: 10px auto 0px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      .text {
        flex: 1;
        line-height: 2.5rem;
        width: 65%;
        color: #272727;
        font-family: "Work Sans", sans-serif;
        text-align: center;
      }
    }
  }
  .feature-content-2 {
    margin-top: 50px;
    img {
      border-top-left-radius: 0px !important;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
    }
  }
  .only-text-container {
    .contents {
      height: 100%;
      margin-top: 0px;
      padding: 0px;
    }
  }
}
