.our-approach-tab {
  .title {
    margin-top: 10px;
  }
  .only-text-container{
    .contents{
      margin: 25px 0px;
    }
  }
  .niche-contents {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
    .circle {
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e5276a;
      border-radius: 50%;
      p {
        text-align: center;
        color: aliceblue;
        font-family: "Merienda", cursive;
        font-weight: bold;
      }
    }
    .circle-1 {
      background-color: #e5276a;
    }
    .circle-2 {
      background-color: #419b9c;
    }
    .circle-3 {
      background-color: #a943a5;
    }
    .circle-4 {
      background-color: #f6910e;
    }
  }
}
