.contact-us-tab {
  form {
    #query-message-id {
      width: 72%;
      margin: auto;
      border-radius: 30px;
    }
  }
  .contact-us-agreement {
    .agreement-text {
      width: 60%;
      margin: auto;
      text-align: justify;
      color: #3e2900;
      font-family: "Work Sans", sans-serif;
    }
  }
  .address-container {
    width: 70%;
  }
}
