//nav-top starts
.nav-top-container,
.nav-bottom-container {
  overflow-x: auto;
}

.nav-top-container {
  z-index: 99999;
  height: 33px;
  background: #ff5c5c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 145px;
}

.nav-top-list i,
li {
  font-weight: 600;
}

.nav-top-list {
  align-items: center;
  margin: 0px 130px 0px 0px;
  padding: 0;
  display: flex;
}

.nav-top-list li,
i {
  list-style-type: none;
  margin-left: 15px;
  color: whitesmoke;
}

.nav-top-list li a {
  text-decoration: none;
  color: inherit;
}

.nav-top-social-media-icons i {
  cursor: pointer;
}

.nav-top-social-media-icons i:hover {
  font-size: 19px;
  transition: 0.3s;
}
//nav-top ends

//nav-bottom starts
.nav-bottom-container {
  z-index: 99999;
  width: 100%;
  background-color: #ffffff;
  overflow-y: hidden;
}

.nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  margin: auto;
  height: 80px;
  background-color: #fff;
}

.nav-logo {
  height: 50px;
  width: 235px;
  cursor: pointer;
}

.nav-bottom-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-bottom-list img {
  display: none;
}

.nav-bottom-list-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .fa{
    color: #000;
    margin-left: 10px;
  }
}

.nav-bottom-list li {
  list-style-type: none;
  padding: 10px;
  transition: 0.5s;
  font-size: 16px;
}

.nav-bottom-list li:hover {
  color: #ff5c5c;
  .fa{
    color: #ff5c5c;
  }
}

.nav-bottom-list li a {
  text-decoration: none;
  color: inherit;
}

.nav-tabs {
  position: relative;
  margin-right: 10px;
}

.nav-dropdown-menu {
  display: none;
  background-color: whitesmoke;
  position: absolute;
  width: 200px;
  border-radius: 0px 10px 10px 10px;
}

.nav-tabs:hover {
  background-color: whitesmoke;
  .nav-dropdown-menu {
    display: block;
    transition-duration: 3s;
  }
}
.nav-tabs:last-child:hover {
  background-color: transparent;
}

.nav-dropdown-menu li {
  font-size: 13px;
  padding: 8px;
  // width: max-content;
}

#nav-donate {
  background: #ff5c5c;
  color: #ffffff;
  padding: 8px 30px;
  border-radius: 20px;
  padding-bottom: 10px;
}
//nav-top ends
