.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.hr-line {
  width: 20%;
  margin: 30px auto 20px auto;
}

.bttn {
  margin-top: 7px;
  border: none;
  color: #fff;
  font-size: 13px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.bttn {
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    color: #fff;
  }
}

.home-tab,
.education-tab,
.healthcare-tab,
.livelihood-tab,
.sports-tab,
.humanitarian-tab,
.aboutus-tab,
.mission-tab,
.our-work-tab,
.overview-tab,
.our-approach-tab,
.thf-fellowship-tab,
.contact-us-tab,
.partnership-tab,
.other-ways-tab,
.nav-bottom-container {
  .marquee-container {
    -webkit-marquee: auto medium infinite scroll normal;
    overflow-x: -webkit-marquee;
    height: 35px;
    margin-top: 80px;
    padding: 7px;
    background-color: #d1d1d1;
    p {
      font-family: "Work Sans", sans-serif;
      font-weight: 600;
    }
  }
  .home-img-banner {
    height: 485px;
    margin-top: -4px;
  }
  .banner {
    position: relative;
    .banner-img {
      width: 100%;
      height: 440px;
      object-fit: cover;
    }
    .banner-text {
      position: absolute;
      bottom: 0px;
      left: 20px;
      padding: 15px;
      color: #fff;
      font-size: 50px;
    }
  }
  .bread-crum {
    padding: 10px;
    .active-link {
      color: #000;
      transition: 0.3s;
    }
    .active-link:hover {
      color: orange;
    }
    p {
      display: inline-block;
      color: orange;
      margin-bottom: 0rem;
    }
    .right-arrow {
      margin: 0px 3px;
    }
  }
  .page-content-container {
    margin-top: 20px;
  }
  .title {
    font-size: 35px;
    font-family: "Caveat", cursive;
    color: #c88200;
    text-align: center;
  }
  .text {
    line-height: 2.5rem;
    color: #3e2900;
    font-family: "Work Sans", sans-serif;
    text-align: center;
  }
  .text-bold {
    font-weight: bold;
  }
  .feature-content-1,
  .feature-content-2 {
    margin-top: 30px;
    .contents {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding: 20px;
      height: 350px;
    }
    .img-container {
      flex: 1;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
      }
    }
    .text-container {
      flex: 1;
      margin: 10px auto 0px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
  }
  .feature-content-2 {
    margin-top: 50px;
    img {
      border-top-left-radius: 0px !important;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
    }
  }
  .only-text-container {
    .text {
      line-height: 2.5rem;
      width: 90%;
      color: #272727;
      font-family: "Work Sans", sans-serif;
      text-align: center;
      margin: auto;
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .p-tag {
    width: 60%;
    margin: auto;
    margin-bottom: 0px;
  }
  .two-col-text-container {
    margin-top: 20px;
    .contents {
      display: flex;
      flex-direction: row;
    }
    .col-1-container,
    .col-2-container {
      flex: 1;
    }
  }
  .text-align-justify {
    text-align: justify;
  }
  .font-12 {
    font-size: 12px;
  }
  .width-60-prcnt {
    width: 60%;
    margin: auto;
  }
  .text-justify {
    text-align: justify !important;
  }
  .margin-top-25 {
    margin-top: 25px !important;
  }
  .margin-bottom-20 {
    margin-bottom: 20px;
  }
  .margin-bottom-30 {
    margin-bottom: 20px;
  }
}
