.healthcare-tab {
  .feature-content-2 {
    img {
      border-top-left-radius: 0px !important;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
    }
  }
}
