.donate-footer {
  margin-top: 20px;
  height: 400px;
  background-image: url(./donate-bck-1.jpg);
  background-size: cover;
  align-items: center;
  padding-left: 30px;
  .contents {
    display: inline-block;
    margin-top: 10px;
    h2,
    h3 {
      color: #fff;
      font-family: "Oxygen", sans-serif;
    }
  }
  .inp-btn{
      display: flex;
      flex-direction: row;
  }
  .donate-inp-btn{
    margin-left: 50px;
    background-color: #ff5c5c;
    color: #fff;
    border: black;
    border-radius: 20px;
    cursor:pointer;
  }
  .input-donate {
    width: 225px;
    height: 45px;
    padding-left: 10px;
    border-radius: 25px;
    outline: none;
    border: #000;
    background-color: honeydew;
    font-family: 'Oxygen';
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.footer-container {
  height: 185px;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  .footer-logo{
    flex: 1;
  }
  .footer-info{
    flex: 2.5;
  }
  .footer-info-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 20px;
    width: 100%;
    height: 100%;
  }
  .footer-list{
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer-list li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: .3s;
  }
  .footer-list li a:hover{
    color: #0096ff;
    font-size: 14.5px;
  }
  .gap{
    margin: 0px 10px;
    color: #fff;
  }
  .copyright{
    display: flex;
    justify-content: flex-end;
    a,p{
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .footer-email{
    display: flex;
    justify-content: flex-end;
  }
  .footer-email a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
  }
  .footer-email a:hover{
    color: #0096ff;
    font-size: 14.5px;
  }
  .foot-logo{
    width: 190px;
    height: 175px;
  }
}
