.our-work-tab {
  .bttn:hover {
    transform: scale(1.2);
  }
  .home-img-banner {
    height: 450px;
  }
  .home-feature-content-1-container {
    display: flex;
    width: 75%;
    margin: auto;
  }
  .box-animation,
  .home-feature-content-1-content {
    flex: 1;
  }
  .home-feature-content-1-content {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    .info {
      width: 60%;
      margin: auto;
      color: #3e2900;
      line-height: 2rem;
    }
  }
  .causes-we-are-serving-contents {
    display: flex;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
    h4 {
      margin: 5px 0px;
    }
    .box {
      width: calc(27.33333% - 20px);
      height: 230px;
      margin: 10px 10px;
      overflow: hidden;
      border-radius: 10px;
      .content {
        transition: 0.5s;
      }
      img {
        height: 190px;
        width: 100%;
      }
      p {
        padding: 5px;
        margin: 10px 0px;
        color: #3e2900;
      }
    }
    .box-down {
      margin-top: 220px;
    }
    .box:hover {
      box-shadow: #dcdcdc 0 2px 2px, #dcdcdc 0 4px 4px, #dcdcdc 0 8px 8px,
        #dcdcdc 0 16px 16px, #dcdcdc 0 32px 32px;
      .content {
        transform: translate(0px, -150px);
      }
    }
    .bttn-red {
      background-color: #e5276a;
    }
    .bttn-green {
      background-color: #20b7b9;
    }
    .bttn-voilet {
      background-color: #a943a5;
    }
    .bttn-orange {
      background-color: #f6910e;
    }
    .bttn-blue {
      background-color: #0096ff;
    }
    .box-border-red {
      border-top: 0.1rem solid #e5276a;
      border-right: 0.1rem solid #e5276a;
      border-left: 0.1rem solid #e5276a;
      border-bottom: 0.4rem solid #e5276a;
    }
    .box-border-green {
      border-top: 0.1rem solid #20b7b9;
      border-right: 0.1rem solid #20b7b9;
      border-left: 0.1rem solid #20b7b9;
      border-bottom: 0.4rem solid #20b7b9;
    }
    .box-border-voilet {
      border-top: 0.1rem solid #a943a5;
      border-right: 0.1rem solid #a943a5;
      border-left: 0.1rem solid #a943a5;
      border-bottom: 0.4rem solid #a943a5;
    }
    .box-border-orange {
      border-top: 0.1rem solid #f6910e;
      border-right: 0.1rem solid #f6910e;
      border-left: 0.1rem solid #f6910e;
      border-bottom: 0.4rem solid #f6910e;
    }
    .box-border-blue {
      border-top: 0.1rem solid #0096ff;
      border-right: 0.1rem solid #0096ff;
      border-left: 0.1rem solid #0096ff;
      border-bottom: 0.4rem solid #0096ff;
    }
  }
  .volunteer-container {
    .title {
      margin-bottom: 20px;
    }
    .volunteer-content {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: auto;
      img {
        flex: 1;
        height: 200px;
        width: 300px;
        border-radius: 30px;
      }
      .volunteer-content {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        .bttn-blue {
          background-color: #0096ff;
          margin-top: 20px;
        }
      }
      .info {
        color: #3e2900;
        line-height: 2rem;
      }
    }
  }
}
