.education-tab {
  .title {
    font-size: 35px;
    font-family: "Caveat", cursive;
    color: #c88200;
    text-align: center;
  }
  .banner {
    position: relative;
    .edu-banner-img {
      width: 100%;
      height: 440px;
      object-fit: cover;
    }
    .banner-text {
      position: absolute;
      position: absolute;
      bottom: 20px;
      left: 20px;
      padding: 15px;
      color: #fff;
      font-size: 50px;
    }
  }
  .page-routing {
    padding: 10px;
    .active-link {
      text-decoration: none;
      color: #000;
      transition: 0.3s;
    }
    .active-link:hover {
      color: orange;
    }
    p {
      display: inline-block;
      color: orange;
    }
    .right-arrow {
      margin: 0px 3px;
    }
  }
  .quote-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 80px;
    padding-left: 50px;
    .quote-text {
      width: 40%;
      font-style: italic;
      font-family: "Work Sans", sans-serif;
      line-height: 1.7rem;
    }
    .opening-quote {
      position: absolute;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEzIDE0LjcyNWMwLTUuMTQxIDMuODkyLTEwLjUxOSAxMC0xMS43MjVsLjk4NCAyLjEyNmMtMi4yMTUuODM1LTQuMTYzIDMuNzQyLTQuMzggNS43NDYgMi40OTEuMzkyIDQuMzk2IDIuNTQ3IDQuMzk2IDUuMTQ5IDAgMy4xODItMi41ODQgNC45NzktNS4xOTkgNC45NzktMy4wMTUgMC01LjgwMS0yLjMwNS01LjgwMS02LjI3NXptLTEzIDBjMC01LjE0MSAzLjg5Mi0xMC41MTkgMTAtMTEuNzI1bC45ODQgMi4xMjZjLTIuMjE1LjgzNS00LjE2MyAzLjc0Mi00LjM4IDUuNzQ2IDIuNDkxLjM5MiA0LjM5NiAyLjU0NyA0LjM5NiA1LjE0OSAwIDMuMTgyLTIuNTg0IDQuOTc5LTUuMTk5IDQuOTc5LTMuMDE1IDAtNS44MDEtMi4zMDUtNS44MDEtNi4yNzV6Ii8+PC9zdmc+);
      background-repeat: no-repeat;
      height: 60px;
      width: 66px;
      background-size: 64px;
      display: block;
      left: 26%;
      top: -40%;
      transition: all 0.3s;
    }
  }
  .quote-text-container:hover {
    .opening-quote {
      transform: rotate(360deg);
    }
  }
  .feature-content-1 {
    margin-top: 30px;
    .text {
      margin: 10px auto 0px auto;
      line-height: 2rem;
      width: 65%;
      color: #272727;
      font-family: "Work Sans", sans-serif;
      text-align: center;
    }
  }
  .feature-content-2 {
    margin-top: 20px;
    .text-container {
      margin: 10px auto 0px auto;
      width: 65%;
      .text {
        color: #272727;
        font-family: "Work Sans", sans-serif;
        line-height: 2rem;
        font-weight: normal;
        text-align: initial;
      }
    }
  }
}
